.requests-list {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
}

.request-item {
  position: relative;
  /* width: calc(100% / 2 - 30px); */
  width: 100%;
  margin: 15px;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
}

.request-item:hover {
  cursor: pointer;
}

.request-item-id {
  position: absolute;
  top: 15px;
  right: 15px;
}

.request-item-title {
  font-weight: bold;
  width: calc(100% - 30px);
}

/* .request-item-title input,
.request-item-date-plan input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
} */

.request-item-title textarea,
.request-item-date-plan input {
  width: 100%;
  font-size: 16px;
  border: none;
  resize: none;
}

.request-item-title textarea {
  height: 80px;
}

.request-item-date-plan {
  /* font-size: 12px; */
  margin: 10px 0;
}

.request-item-status {
  text-align: right;
  font-weight: bold;
  color: #999;
}

/* button {
  font-size: 16px;
  padding: 5px 10px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 10px;
} */

.cursor-default {
  cursor: default !important;
}
